.footer {
position: static;
left: 0;
bottom: 0;
width: 100%;
color: #444;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 17px;
}

.footerX {
position: static;
left: 0;
bottom: 0;
width: 100%;
color: #444;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 47px;
}

.navhome {
  height: auto;
  overflow: auto;
  width: 100%;
  margin: auto;
  padding: 25px;
}

.navhomeSel {
  height: auto;
  overflow: auto;
  width: 100%;
  margin: auto;
  padding: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #444;
  text-align: center;
}

.filter {
  padding: 12px;
}

.displayArea {
  width: 100%;
  border: thin solid green;
  height: 400px;
}
